.lead {
  background-color: #073042;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.lead__wrapper {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 77px 70px 25px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: start;

}


.lead__info {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.lead__title {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #FFF;
  margin: 0;
}

.lead__description {
  max-width: 310px;
  margin-top: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-align: left;
}

.lead__link {
  margin: 135px 0 52px 0;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .lead__wrapper {
    padding: 77px 5px 25px 5px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    justify-items: center;
  }

  .lead__info {
    grid-row: 2/-1;
    margin-top: 50px;
    align-items: center;
  }

  .lead__title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }

  .lead__description {
    text-align: center;
    max-width: 260px;
    margin-top: 20px;
  }

  .lead__image {
    margin-top: 64px;
  }

  .lead__link {
    margin: 81px 0 52px 0;
  }
}

@media screen and (max-width: 506px) {
  .lead__wrapper {
    padding-top: 7px;
  }

  .lead__info {
    margin-top: 43px;
  }

  .lead__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.04em;
  }

  .lead__description {
    text-align: center;
    max-width: 260px;
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .lead__image {
    margin-top: 64px;
    max-width: 210px;
  }

  .lead__link {
    margin: 68px 0 8px 0;
  }
}