.moviesCardList {
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 70px 70px 67px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moviesCardList__elements {
  width: 100%;
  display: flex;
  gap: 20px;
  row-gap: 28px;
  flex-wrap: wrap;
  justify-content: space-around;
}


.moviesCardList__more {
  background-color: inherit;
  border: 1px solid #424242;
  margin: 20px auto 20px auto;
  border-radius: 5px;
  width: 320px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF;
  justify-content: center;
  cursor: pointer;
}