.moviesCard {
  width: 270px;
}

.moviesCard__image-block {
  display: grid;
  grid-template-areas:
    "image"
    "desc";
  grid-row-gap: 12px;
  grid-template-columns: 270px;
  margin: 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 29px;
  align-items: center;
}

.moviesCard__desc{
  grid-area: desc;
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.moviesCard__preview {
  grid-area: image;
  width: 270px;
  height: 151px;
  object-fit: contain;
}

.moviesCard__caption {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 226px;
  overflow: hidden;
}

.moviesCard__length {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
  margin-top: 7px;
}

/*.moviesCard__like {*/
/*  height: 24px;*/
/*  width: 24px;*/
/*  grid-area: like;*/
/*  border: none;*/
/*  background-image: url(../../images/movie/disableLike.svg);*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: 10px 10px;*/
/*  background-color: #313131;*/
/*  border-radius: 36px;*/
/*}*/

/*.moviesCard__like:hover {*/
/*  cursor: pointer;*/
/*}*/


.moviesCard__link{
  margin: 0 auto;
  max-width: 270px;
}

@media screen and (max-width: 768px) {
  .moviesCard {
    width: 339px;

  }

  .moviesCard__preview {
    grid-area: image;
    width: 339px;
    height: 190px;
    object-fit: contain;
  }
}

@media screen and (max-width: 400px) {
  .moviesCard {
    width: 300px;

  }

  .moviesCard__preview {
    grid-area: image;
    width: 300px;
    height: 168px;
    max-height: 168px;
    object-fit: contain;
  }

  .moviesCard__caption {
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
  }

  .moviesCard__length {
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
  }
}
