.App {
  height: max-content;
  min-height: 100vh;
  background: #202020;
  box-sizing: border-box;
  width: 100%;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding: 7px 20px 8px 18px;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.wrapper_type_blue {
  background-color: #073042;
}

.wrapper_type_black {
  background-color: #073042;
}