.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #073042;
  width: 100%;
}

.title {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFF;
  padding-bottom: 22px;
  border-bottom: 1px solid #DADADA;
}