.about{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #202020;
  box-sizing: border-box;
}

.about__wrapper{
  padding: 92px 70px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}



.about__description{
  display: flex;
  justify-content: space-between;
}

.stage{
  margin-top: 31px;
  text-align: left;
  max-width: 550px;
}

.stage__title{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFF;
  margin-bottom: 26px;
}

.stage__description{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}
.progress{
  margin: 96px auto 9px auto;
  width: 100%;
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
}
.progress__week{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
}
.progress__week_color_green{
  background: #3DDC84;
  color: #000;
}
.progress__tech{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}