.form-search__wrapper {
  box-sizing: border-box;
  background: #202020;
  width: 100%;
  max-width: 1280px;
  padding: 70px 70px 80px 70px;
}

.formSearch {
  padding: 19px 0 12px 19px;
  background: #222222;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  border-bottom: 1px solid #424242;
}

.formSearch__image {
  margin-right: 9px;
}

.formSearch__label-input {
  width: 100%;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: max-content 1fr max-content;
  border-right: 1px solid #505050;
  padding-right: 18px;
  outline: none;
}

.formSearch__input:focus-visible {
  outline: none;
}

.formSearch__label-radio {
  width: 196px;
}

.formSearch__input {
  padding-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background-color: #222;
  border: none;
  color: #8B8B8B;
}

.formSearch__submit {
  background-image: url(../../images/movie/find.png);
  width: 34px;
  height: 34px;
  background-color: #222;
  border: 0;
}

.formSearch__check {
  cursor: pointer;
  margin: 0 16px 0 30px;
  position: relative;
  width: 38px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 1;
}

.formSearch__toggle {
  display: flex;
  align-items: center;
}

/*#F5F5F5*/
.formSearch__check::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #3DDC84;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 1px;
  transition: all 0.4s
}

.checked {
  background-color: #3DDC84;
}

.checked::before {
  background-color: #fff;
  transform: translateX(17px);
}

.formSearch__description-check {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFF;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .form-search__wrapper {
    padding: 70px 30px 80px 30px;
  }

  /* .formSearch__label-input {
    padding-right: 0;
  } */
  .formSearch__description-check {
    margin-right: 20px;
  }

  .formSearch__check {
    margin-left: 22px;
  }
}


@media screen and (max-width: 730px) {
  .form-search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px;
  }

  .formSearch {
    width: 100%;
    padding: 19px 10px;
  }

  .formSearch__label-input {
    border-right: none;
  }

}


@media screen and (max-width: 410px) {
  .formSearch__image {
    display: none;
  }

  .formSearch__input {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 10px;
  }

  .formSearch__label-input {
    padding-right: 0;
    grid-template-columns: 1fr max-content;
  }

  .formSearch__description-check {
    font-size: 11px;
    line-height: 18px;
    margin: 43px 0 45px 0;
  }

  .formSearch__check {
    width: 36px;
    margin-left: 0;
  }
}